.landing-page-container{
    color: var(--main-font-colour);
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.landing-page-introduction-container{
    margin-top: 8rem;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 7px rgba(3, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landing-page-greeting-container{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.landing-page-greeting-animation{
    display: flex;
    flex-direction: column;
    height: 4.5rem;
    overflow: hidden;
}

.landing-page-greeting-animation > div > div{
    color: var(--highlight-font-colour);
    padding: 0 0.25rem;
    display: inline-flex;
    align-items: center;
    margin-bottom: 3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6c6c6c;
}

.landing-page-greeting-animation div:first-child {
    animation: text-animation 8s infinite;
}

.landing-page-image-container{
    margin-top: 5rem;
}

.landing-page-image{
    width: 300px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(3px 5px 5px #222);
}

@keyframes text-animation {
    0% {margin-top: 0;}
    15% {margin-top: 0;}
    25% {margin-top: -6.45rem;}
    40% {margin-top: -6.45rem;}
    45% {margin-top: -6.45rem;}
    50% {margin-top: -12.9rem;}
    65% {margin-top: -12.9rem;}
    70% {margin-top: -12.9rem;}
    75% {margin-top: 0;}    
    85% {margin-top: 0;}
}