.App{
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    background-image: url("./img/wallhaven-lmomkp_1920x1080.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
