.tech-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.5rem;
    width: max-content;
    background: #585c5a;
    border-radius: 10px;
    font-size: 12px;
}